@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato' , sans-serif;
}

h1, h2, h3{
    font-family: 'Oswald' , sans-serif;
    color: #252525;
}

#cover-page {
    background-color: rgba(245, 232, 152, 0.7) ;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-page > h2, #cover-page > h3 {
    color:#020202;
}


header {
    background-color: red;
    padding: 0 0;
    position: flex;
    z-index: 99;
    box-shadow: 0 2px 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: red;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    display: none;
    top: 7%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    
    flex: 1 0 auto;
    margin-top: 5px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../Images/project\ 3.jpg") no-repeat center center/cover;
    position: relative;
}

#social-networks {
    background-color: yellow;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 150%;
}

#social-networks i {
    padding: 5%;
    color: #020202;
}

#earlylife {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#earlylife h2 {
    margin-bottom: 20%;
    text-align: center;
    font-size: 280%;
}

#legends {
    text-align: left;
}


p {
    padding: 0 20px;

}

#birth {
    margin-bottom: 20px;

}



#youngadult{
    margin-bottom: 20px;
    line-height: 20px;
}


#circle-cover-bg {
    background: url("../Images/Project\ 4.jpg") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width:300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}


#times {
    background: url("https://ninaen903.files.wordpress.com/2009/08/the_national_museum_of_ireland1.jpg") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;

}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#times h3 {
    color: #fafafa;


}






@media screen and (min-width: 768px){
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
#menu {
    display: flex;
}

#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0 0.5rem;
}

#cover-text {
    width: 300px;
    right: 50px;
}

#birth,
#youngadult {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#birth > div,
#youngadult > div {
    width: 75%;
}

#youngadult > div {
    text-align: end;
    align-self: flex-end;
}

}


@media screen and (min-width: 992px) {
    #menu > a:hover {
        border-bottom: 1 px solid #3a3a3a;
    }
       
    }

    @media screen and (min-width: 1200px){
        
        #life {
            display: flex;
            flex-direction: row;
        }
    
        #life > div {
            flex: 1;
        }
    
        #birth > div {
            order: 0
        }
    
        #youngadult {
            order: 1;
        }
    
        #youngadult > div {
            align-self: flex-start;
        }
    
        #birth {
            align-self: flex-end;
        }
    }
        
    
        